.modalFundo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 4px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bolder;
}

.modal h2 {
    color: rgb(58, 30, 134);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.inputText {
    padding: 10px;
    margin-left: 10px;
}

.overflow {
    overflow-y: scroll;
    min-height: 50px;
    max-height: 200px;
    font-size: 10px;
    border: 1px solid rgb(58, 30, 134);
    padding: 0 10px;
    transition: 1s;
}

.areaButtons {
    display: flex;
    align-items: flex-start;
    gap: 10px
}

.btnPositivo {
    padding:10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: green;
    transition: 0.5s;
}

.btnPositivo:hover {
    background-color: rgb(0, 85, 0);
}

.btnNegativo {
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: brown;
    transition: 0.5s;
}

.btnNegativo:hover {
    background-color: rgb(87, 21, 21);
}

.listaDeSalas {
    width: 60%;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:20px;

    height: 60vh;
    overflow: auto;
}

.nenhuma {
    text-align: center;
    color: gray;
}


.filtroPorNome {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #111;
    font-weight: bolder;
}

.filtroPorNome input{
    padding: 6px;
    border-radius: 5px;
    border: 1px solid black;

}
