.modalFundo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 4px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bolder;
}

.modal h2 {
    color: rgb(58, 30, 134);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.inputText {
    padding: 10px;
    margin-left: 10px;
}

.areaRadios {
    display: flex;
    flex-direction: row;
    
    gap: 10px;
 }

 .areaRadiosTipos {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
 }


.areaButtons {
    display: flex;
    align-items: flex-start;
    gap: 10px
}   

.btnPositivo {
    padding:10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: green;
    transition: 0.5s;
}

.btnPositivo:hover {
    background-color: rgb(0, 85, 0);
}

.btnNegativo {
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: brown;
    transition: 0.5s;
}

.btnNegativo:hover {
    background-color: rgb(87, 21, 21);
}