.header {
    width: 60%;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.header h1 {
    color: rgb(58, 30, 134);
    margin: 20px 0px ;
}

.headerButtons {
    display: flex;
    gap: 30px
}

.header button{
    padding: 10px 15px;
    background-color: green;
    color: white;
    font-weight: bolder;
    border: 0px;
    border-radius: 5px;
    transition: 0.5s;
}

.header button:hover{
    padding: 10px 15px;
    background-color: rgb(1, 71, 1);
    color: white;
    font-weight: bolder;
    border: 0px;
    border-radius: 5px;
}

.listaDeDisciplinas {
    width: 60%;
    height: 60vh;
    overflow: auto;
    margin: auto;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap:10px
}

.nenhuma {
    text-align: center;
    color: gray;
}

.filtroPorNome {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #111;
    font-weight: bolder;
}

.filtroPorNome input{
    padding: 6px;
    border-radius: 5px;
    border: 1px solid black;

}
