.header {
    width: 60%;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.headerButtons {
    display: flex;
    gap: 30px
}


.header h1 {
    color: rgb(58, 30, 134);
    margin: 20px 0px ;
}


.header button{
    padding: 10px 15px;
    background-color: green;
    color: white;
    font-weight: bolder;
    border: 0px;
    border-radius: 5px;
}

.listaDeSalas {
    width: 60%;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:20px;

    height: 60vh;
    overflow: auto;
}

.nenhuma {
    text-align: center;
    color: gray;
}